* {
    padding: 0;
    margin: 0;
}

header {
    height: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    position: relative;
}

header h1 {
    line-height: 80px;
    font-size: 50px;
    width: fit-content;
}

h1#page-title {
    margin-left: auto;
    margin-right: auto;
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav li {
    float: left;
}

nav a {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 77px;
    padding: 0 16px;
    text-decoration: none;
    color: #333333;
}

nav a.active {
    background-color: #eeeeee;
    border-bottom: 3px solid #8000ff;
}

nav a:hover {
    border-bottom: 3px solid #8000ff;
}

.logout-btn {
    margin: 20px;
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #ff0000;
}

.logout-btn:focus {
    outline: none;
}