#loginContainer {
    width: 40%;
    margin: auto;
    background-color: aqua;
    text-align: center;
}

#loginContainer h1 {
    text-align: center;
    margin-bottom: 20px;
}

#loginButtonContrainer {
    margin-top: 2%;
}

#registrationContainer {
    width: 40%;
    margin: auto;
    background-color: aqua;
    text-align: center;
}